In [4]:
for k, v in zip(myDict.keys(),myDict.values()):
    print(k)

title
author
date
url

In [ ]:
update_query = u', '.join([u"{}='{}'".format(k, v) for k, v in myDict])

In [2]:
import datetime
import requests as rq
import os 
import pymysql

In [1]:
myDict={"title": "(本文已被刪除) [tank123zzz]", "author": "-", "date": "6/29", "url": 'null'}

In [16]:
myDict['x']=datetime.datetime.now()
myDict['xx']=datetime.date.today()

False

In [33]:
ymd = datetime.datetime.strftime(datetime.datetime.now(), "%Y-%m-%d %H:%M:%S")

In [34]:
ymd

'2022-07-01 21:11:36'

In [66]:
          f"INSERT INTO Scores ({', '.join(data.keys())}) VALUES " + '("'+xxx+'")'

'INSERT INTO Scores (title, author, date, url) VALUES ("(本文已被刪除) [tank123zzz]", "-", "6/29", "null")'

In [70]:
qmarks = ', '.join('?' * len(myDict))
qry = "Insert Into Table (%s) Values (%s)" % (myDict.keys(), myDict.values())
cursor.execute(qry, myDict.keys() + myDict.values())

TypeError: unsupported operand type(s) for +: 'dict_keys' and 'dict_values'

In [71]:
qry

"Insert Into Table (dict_keys(['title', 'author', 'date', 'url'])) Values (dict_values(['(本文已被刪除) [tank123zzz]', '-', '6/29', 'null']))"

In [21]:
db_settings = {
    "host": '127.0.0.1',
    "port": 3306,
    "user": 'root',
    "password": 'As123459362',
    "db": 'pttcrawler',
    "charset": 'utf8mb4',
    "autocommit":True
}


try:
    # 建立Connection物件
    conn = pymysql.connect(**db_settings)
    # 建立Cursor物件
    with conn.cursor(pymysql.cursors.DictCursor) as cursor:
      #資料表相關操作
        # % 操作符只能直接用於字串(‘123’)，列表([1,2,3])、元組
        command = f"SHOW COLUMNS FROM pttcrawler.ptt_data"
        # 執行
        cursor.execute(command)
        DB_VERSION = cursor.fetchall()
        print(F"資料庫連線測試成功！(DB_VERSION：{DB_VERSION})")
        column_name=[i['Field'] for i in DB_VERSION]
except Exception as ex:
    print(f"資料庫連線測試失敗！，請檢查參數......{ex}")

資料庫連線測試成功！(DB_VERSION：[{'Field': 'UID', 'Type': 'int', 'Null': 'NO', 'Key': 'PRI', 'Default': None, 'Extra': 'auto_increment'}, {'Field': 'title', 'Type': 'varchar(60)', 'Null': 'NO', 'Key': '', 'Default': None, 'Extra': ''}, {'Field': 'push_no', 'Type': 'varchar(60)', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}, {'Field': 'date', 'Type': 'varchar(60)', 'Null': 'NO', 'Key': '', 'Default': None, 'Extra': ''}, {'Field': 'author', 'Type': 'varchar(45)', 'Null': 'NO', 'Key': '', 'Default': None, 'Extra': ''}, {'Field': 'url', 'Type': 'varchar(100)', 'Null': 'NO', 'Key': 'UNI', 'Default': None, 'Extra': ''}, {'Field': 'board', 'Type': 'varchar(45)', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}, {'Field': 'Data_Datetime', 'Type': 'datetime', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}])

In [22]:
column_name_notnull=[i['Field']  for i in DB_VERSION if i['Null']=='NO' and 'auto_increment' not in i['Extra']]

In [25]:
column_name_null=[i['Field']  for i in DB_VERSION if i['Null']=='YES' or (i['Null']=='NO' and'auto_increment' in i['Extra'])]

In [27]:
'Data_Datetime' in column_name_null

True

In [26]:
        self.db_settings = {
        "host": self.db_ip.text().strip(),
        "port": int(self.db_port.text().strip()),
        "user": self.db_username.text().strip(),
        "password": self.db_password.text().strip(),
        "db": self.db_name.text().strip(),
        "charset": self.db_charset.text().strip(),
        "autocommit":True}
        self.table_name = self.db_table_name.text().strip()
        try:
            # 建立Connection物件
            conn = pymysql.connect(**self.db_settings)
            # 建立Cursor物件
            with conn.cursor(pymysql.cursors.DictCursor) as cursor:
              #資料表相關操作
                # % 操作符只能直接用於字串(‘123’)，列表([1,2,3])、元組
                command = f"SHOW COLUMNS FROM {self.db_settings['db']}.{self.table_name}"
                # 執行
                cursor.execute(command)
                table_des = cursor.fetchall()
        except Exception as ex:
            self.printf('資料庫連線失敗' + str(ex), 'db')
            return
        self.column_name_null=[i['Field']  for i in table_des if i['Null']=='YES' or (i['Null']=='NO' and'auto_increment' in i['Extra'])]
        self.column_name_notnull=[i['Field']  for i in table_des if i['Null']=='NO' and 'auto_increment' not in i['Extra']]
        self.printf(f"資料庫連線成功！必填欄位名稱：{str(self.column_name_notnull)}；非必填欄位名稱：{str(self.column_name_null)}", 'db')
        print(self.db_datetime_store)
        print(self.column_name_null)
        print('Data_Datetime' not in self.column_name_null)

1

In [22]:
"xx = [('標題','div.title',0,'text'),('作者','div.author',0,'text'),('日期','div.date',0,'text'),('連結','div.title a',0,'href')]

In [25]:
a=[1,2]
b=[1,5,6,5]
set(a+b)

{1, 2, 5, 6}

In [21]:
def aa():
    try:
        1/0
    except:
        raise rq.exceptions.RequestException
try:
    aa()
except rq.exceptions.RequestException:
    print("11")

11

In [1]:
from apscheduler.triggers.cron import CronTrigger
from datetime import datetime
from apscheduler.schedulers.qt import QtScheduler
from apscheduler.schedulers.blocking import BlockingScheduler

def job1():
        with open('11.txt', 'a+', encoding='utf-8') as file:
            file.write("498489")
            file.close()

In [2]:
scheduler = BlockingScheduler(timezone="Asia/Taipei")
Crontrigger = CronTrigger(timezone='Asia/Taipei', day_of_week='0-6', hour=18, minute=34, second=0)
scheduler.add_job(job1, Crontrigger )
#scheduler.start()

In [3]:
jobs=scheduler.get_jobs()
for job in jobs:
    str = "name: %s, trigger: %s, next run: %s, handler: %s" % (job.name, job.trigger, '0', job.func)
    print(str, 'schedule')

name: job1, trigger: cron[day_of_week='0-6', hour='18', minute='34', second='0'], next run: 0, handler: <function job1 at 0x000001D33D388820> schedule

In [3]:
my_scheduler = QtScheduler(timezone="Asia/Taipei")
my_scheduler.start()
my_scheduler_job_id=[]
Crontrigger = CronTrigger(timezone='Asia/Taipei', day_of_week='0-6', hour=8, minute=9, second=5)
my_scheduler.add_job(self.job_do, self.Crontrigger, id=self.schedule_name.text() )

NameError: name 'self' is not defined